http://localhost:8080

route /a/* {
  tengo {
    handler_path test_handler_1.tengo
  }
  file_server browse
}

route /b/* {
  tengo {
    handler_path test_handler_2.tengo
  }
  file_server browse
}
